@media only screen and (max-width: 850px) {
    nav ul li h2 {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 650px) {
    nav ul li h2 {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 500px) {
    nav ul li h2 {
        font-size: 0.6rem;
    }
}