@media only screen and (max-width: 1000px) {
    nav ul li h2 {
        background: none;
    }
}

@media only screen and (max-width: 650px) {
    #header {
        display: none;
    }
}

@media only screen and (max-width: 1000px) and (max-height: 600px) and (orientation: landscape) {
    nav ul li h2 {
        font-size: .75rem;
    }
}