@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

.pageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(33,62,122,1) 48%, rgba(0,0,0,1) 100%);
    font-family: 'Montserrat Alternates', cursive, sans-serif;
    box-shadow: 4px 4px 8px black;
}

.listContainer {
    height: 90%;
    width: 45%;
}

.listContainer h2 {
    text-align: center;
    margin-top: 5%;
    color: white;
    text-decoration: underline;
}


.listContainer h3 {
    text-align: center;
    font-size: 1rem;
    color: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.listContainer ul {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 8px black;
    border-radius: 100px 20px;
    margin-top: 2.5%;
    list-style-type: circle;
}
