#list-container-1 ul {
    background-image: url('../images/expImg/expImg.jpg');
    background-size: 50% 120%;
}

#list-container-2 ul {
    background-image: url('../images/expImg/eduImg.jpg');
}

@media only screen and (max-width: 1500px) {
    h3.exp-text {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 1000px) {
    h2.exp-header-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    ul.listContainerList {
        background: none;
        box-shadow: none;
        height: 100%;
    }

    h2.exp-header-text {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #exp-container {
        flex-direction: column;
    }

    #list-container-1, #list-container-2 {
        height: 50%;
        width: 100%;
    }

    h3.exp-text {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 500px) {
    h2.exp-header-text {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    h3.exp-text {
        font-size: 0.6rem;
    }
}

/*Landscape mode*/

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    h3.exp-text {
        font-size: 0.4rem;
    }

    h2.exp-header-text {
        display: none;
    }

    #list-container-1, #list-container-2 {
        height: 45%;
    }
}