@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&display=swap');

.pageContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Anek Devanagari', sans-serif;
}

.pageContainer h2 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 6px black;
}

.listContainer {
    height: 50%;
    width: 100%;
}

.listContainer ul li h3 {
    text-align: left;
    color: white;
    min-width: 85%;
    max-width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.listContainer ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
}

