#list-container-1 ul {
    background-image: url('../images/expImg/expImg.jpg');
    background-size: 50% 120%;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
}

#list-container-2 ul {
    background-image: url('../images/expImg/eduImg.jpg');
    border-bottom-left-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
}

@media only screen and (max-width: 1500px) {
    h3.exp-text {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 1000px) {
    h2.exp-header-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    #list-container-1 ul {
        background: none;
        box-shadow: none;
        border-bottom: none;
        border-top-left-radius: 12.5px;
        border-top-right-radius: 12.5px;
    }
    
    #list-container-2 ul {
        background: none;
        box-shadow: none;
        border-top: none;
        border-bottom-left-radius: 12.5px;
        border-bottom-right-radius: 12.5px;
    }

    ul.listContainerList {
        height: 100%;
    }

    h2.exp-header-text {
        display: none;
    }

    h3.exp-text {
        background: none;
        color: black;
        text-shadow: 1px 1px 6px black;
    }
}

@media only screen and (max-width: 700px) {
    #exp-container {
        flex-direction: column;
    }

    #list-container-1, #list-container-2 {
        height: 50%;
        width: 100%;
    }

    h3.exp-text {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 500px) {
    h2.exp-header-text {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    h3.exp-text {
        font-size: 0.6rem;
    }
}

/*Landscape mode*/

@media only screen and (max-width: 1000px) and (max-height: 600px) and (orientation: landscape) {
    h3.exp-text {
        font-size: 0.4rem;
    }

    h2.exp-header-text {
        display: none;
    }

    #list-container-1, #list-container-2 {
        height: 45%;
    }
}