@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

.pageContainer {
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(33,62,122,1) 48%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideSwitcherContainer {
    height: 12.5%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.slideSwitcherContainer div {
    cursor: pointer;
    width: calc(100%/9);
    height: 60%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 75px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1.5px 1.5px 3px rgb(10, 0, 10);
}

.slideSwitcherContainer h2 {
    color: white;
    text-decoration: underline;
    font-family: 'Orbitron', cursive, sans-serif;
    text-align: center;
}

.slideSwitcherContainer div:hover {
    background: rgba(0, 0, 0, 0.8);
}

.slideSwitcherContainer div h5 {
    text-align: center;
    padding: 15px;
    color: white;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
}

.imgPosContainer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
    height: 5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    top: 0.5%;
}

.imgPosContainer div {
    border-radius: 100%;
    height: 3.5vmin;
    width: 3.5vmin;
    background: rgba(150, 150, 150, 0.1);
    border: 4px solid white;
}

.semiPageContainer {
    position: relative;
    height: 70%;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 30px 30px;
    box-shadow: 3px 3px 8px black;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.slideContainer {
    width: 600%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contentContainer {
    height: 100%;
    width: calc(100%/6);
}

.imgContainer {
    margin-top: 7.5%;
    height: 38%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 30px 30px;
    background-size: 100% 100%;
    opacity: 0.75;
    box-shadow: 2px 2px 4px black;
    border: 8px solid white;
}

.textContainer {
    margin-top: 3%;
    height: 44%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.textContainer h2 {
    text-align: center;
    color: white;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.textContainer p {
    line-height: 175%;
    text-align: left;
    color: white;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
}