@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

.pageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideSwitcherContainer {
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 12.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
}

.slideSwitcherContainer div {
    cursor: pointer;
    width: calc(100%/7);
    height: 100%;
    border-radius: 7.5px 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slideSwitcherContainer h2 {
    color: white;
    text-decoration: underline;
    font-family: 'Orbitron', cursive, sans-serif;
    text-align: center;
    cursor: default;
}

.slideSwitcherContainer h5 {
    text-align: center;
    padding: 25px;
    color: white;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
    font-size: 1rem;
}

.semiPageContainer {
    position: relative;
    height: 70%;
    width: 70%;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 12.5px 12.5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.35);
}

.slideContainer {
    width: 600%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contentContainer {
    height: 100%;
    width: calc(100%/6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgContainer {
    margin-top: 5%;
    border-radius: 10px 10px;
    background-size: 100% 100%;
    box-shadow: 2px 2px 4px black;
    height: 300px;
    width: 600px;
}

.textContainer {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 90%;
    width: 75%;
}

.textContainer h2 {
    text-align: center;
    color: white;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.textContainer p {
    line-height: 175%;
    text-align: left;
    color: white;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
}