@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

  #skill-img-one {
    background-image: url('../images/cSharp.png');
    background-size: 100% 175%;
  }

  #skill-img-two {
    background-image: url('../images/wpf.png');
  }

  #skill-img-three {
    background-image: url('../images/sqlServer.jpg');
  }

  #skill-img-four {
    background-image: url('../images/html.jpg');
  }

  #skill-img-five {
    background-image: url('../images/reactLogo.png');
  }

  #skill-img-six {
    background-image: url('../images/git.png');
  }

  .switchImg {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.switchImg:focus {
    outline: none !important;
}

@media only screen and (max-width: 1300px) {
    p.skill-text-container {
        font-size: 0.75rem;
    }

    h2.skill-text-header {
        font-size: 1rem;
    }

    #slideSwitcherContainer {
        height: 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    div.switchImg {
        background: none;
        box-shadow: none;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    #skill-img-one,  #skill-img-two,  #skill-img-three,  
    #skill-img-four,  #skill-img-five,  #skill-img-six {
        height: 225px;
        width: 450px;
    }  
}

@media only screen and (max-width: 1000px) {
    p.skill-text-container {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 800px) {
    h2.skill-text-header {
        margin-top: 7.5%;
        margin-bottom: 5%;
        font-size: 1rem;
    }

    #slideSwitcherContainer {
        height: 15%;
    }

    #semiPageContainer {
        height: 75%;
    }
}

@media only screen and (max-width: 600px) {
    div.switchImg h5 {
        font-size: 0.75rem;
    }

    div.switchImg {
        height: 100%;
        width: 100%;
    }

    #skill-img-one,  #skill-img-two,  #skill-img-three,  
    #skill-img-four,  #skill-img-five,  #skill-img-six {
        height: 150px;
        width: 300px;
        margin-top: -35%;
    }  
}

@media only screen and (max-width: 400px) {
    p.skill-text-container {
        font-size: 0.6rem;
        text-align: center;
    }

    #skill-img-one,  #skill-img-two,  #skill-img-three,  
    #skill-img-four,  #skill-img-five,  #skill-img-six {
        height: 100px;
        width: 200px;
    }  

    div.switchImg h5 {
        font-size: 0.6rem;
    }
}

/*Landscape mode*/
@media only screen and (max-width: 1000px) and (max-height: 400px) and (orientation: landscape) {
    #slideSwitcherContainer {
        display: none;
    }

    p.skill-text-container {
        display: none;
    }

    #semiPageContainre {
        width: 50%;
    }
}