@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

#textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textContainer h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
    padding: 15px;
}

#imgContainer {
    background-image: url('../images/selfImg/vedran_1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 8px black;
    border-radius: 7.5px;
    width: min(350px, 50vw);
    height: min(350px, 50vw);
}

@media only screen and (max-width: 1400px) {
    #subDivOne {
        width: 30%;
    }

    #textContainer {
        width: 40%;
    }

    #subDivThree {
        width: 30%;
    }
}

@media only screen and (max-width: 1000px) {
    #subDivOne {
        width: 25%;
    }

    #textContainer {
        width: 50%;
    }

    #subDivThree {
        width: 25%;
    }
}

@media only screen and (max-width: 750px) {
    #subDivOne {
        display: none;
    }

    #textContainer {
        width: 100%;
    }

    #subDivThree {
        display: none;
    }
}

/*Landscape mode*/
@media only screen and (max-width: 1000px) and (orientation: landscape) {
    #imgContainer {
        height: 125px;
        width: 125px;
    }

    #subDivOne, #subDivThree {
        display: none;
    }
}