.pageContainer {
    overflow: auto;
    height: 46.25vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 2px 2px 4px black;
    background: pink;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(33,62,122,1) 48%, rgba(0,0,0,1) 100%);
}

.subDivOne {
    background-image: url('../images/side.png');
    background-size: 100% 100%;
    width: 37.5%;
    min-height: 100%;
    transition: opacity 0.5s;
}

.subDivOne:hover {
    opacity: 0;
}

.subDivTwo {
    width: 25%;
}

.subDivThree {
    background-image: url('../images/sideinv.png');
    background-size: 100% 100%;
    width: 37.5%;
    min-height: 100%;
    transition: opacity 0.5s;
}

.subDivThree:hover {
    opacity: 0;
}