#react-website-container {
    background-image: url('../images/galleryImg/reactSite.png');
    background-size: 100% 100%;
}

#dotnet-website-container {
    background-image: url('../images/galleryImg/dotNetSite.png');
    background-size: 100% 100%;
}

#chat-app-container {
    background-image: url('../images/galleryImg/chatApp.png');
    background-size: 100% 100%;
}

#angular-website-container {
    background-image: url('../images/galleryImg/angularSite.png');
    background-size: 100% 100%;
}

@media only screen and (max-width: 1000px) {
    #gallery-container {
        height: 70%;
    }
}

@media only screen and (max-width: 800px) {
    #gallery-container {
        height: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 550px) {
    #gallery-container {
        width: 95%;
    }
}

@media only screen and (max-width: 1000px) and (max-height: 600px) and (orientation: landscape) {
    #gallery-container {
        width: 70%;
        height: 85%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #gallery-help-header {
        display: none;
    }
}
