@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

.fullPageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(33,62,122,1) 48%, rgba(0,0,0,1) 100%);
}

.galleryContainer {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.imgContainer {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    overflow: hidden;
}

.textContainer {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer h4 {
    color: white;
    text-align: center;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
    width: 70%;
    height: auto;
}