#react-website-container {
    background-image: url('../images/galleryImg/reactSite.png');
    background-size: 100% 100%;
}

#dotnet-website-container {
    background-image: url('../images/galleryImg/dotNetSite.png');
    background-size: 100% 100%;
}

#chat-app-container {
    background-image: url('../images/galleryImg/chatApp.png');
    background-size: 100% 100%;
}

#angular-website-container {
    background-image: url('../images/galleryImg/angularSite.png');
    background-size: 100% 100%;
}

@media only screen and (max-width: 1000px) {
    #my-work-container {
        display: none;
    }
}
