@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

.fullPageContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(33,62,122,1) 48%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.fullPageContainer table {
    height: 70%;
    width: 50%;
    border: 10px solid white;
    border-radius: 15px 15px;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: collapse;
}

.fullPageContainer table tbody tr {
    background: rgba(255, 255, 255, 0.075);
    height: 25%;
}

.fullPageContainer table tbody tr td {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
}

.fullPageContainer table tbody tr td h3 {
    color: white;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
    padding-top: 15px;
    text-align: center;
    width: 35%;
}

.fullPageContainer table tbody tr td div {
    height: 100%;
    width: 100%;
}

.fullPageContainer table tbody tr td div p {
    font-family: 'Montserrat Alternates', cursive, sans-serif;
    color: white;
    padding: 15px;
}

.fullPageContainer .skillsContainer {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkHelpContainer {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linkHelpContainer h2, .linkHelpContainer h3 {
    color: white;
    font-family: 'Montserrat Alternates', cursive, sans-serif;
}


.fullPageContainer .skillsContainer .skillsShowCaseCircle {
    height: 45vmin;
    width: 45vmin;
    border-radius: 100%;
    box-shadow: 8px 8px 4px black;
    overflow: hidden;
    border: 3px solid white;
    background: rgba(20, 20, 20, 0.4);
}


.fullPageContainer .skillsContainer .skillsShowCaseCircle .halfCaseCircle {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.halfCaseCircle div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.halfCaseCircle a {
    color: white;
    font-family: 'Montserrat Alternates';
    font-size: 0.85rem;
}

