@media only screen and (max-width: 1450px) {
    h2.exp-more-header {
        font-size: 1rem;
    }
    h3.exp-more-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1300px) {
    table.port-table {
        width: 90%;
        height: 90%;
    }
}

@media only screen and (max-width: 800px) {
    table.port-table {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
        border: 1px solid black;
    }

    table.port-table tbody tr td div p {
        color: white;
        font-weight: bold;
    }

    table.port-table tbody tr td h3 {
        font-size: 0.85rem;
        width: 100%;
        color: white;
    }
}

@media only screen and (max-width: 450px) {
    .port-table tbody tr td h3 {
        font-size: 0.85rem;
        width: 100%;
    }

    .port-table tbody tr td div p {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 350px) {
    .port-table tbody tr td h3 {
        font-size: 0.7rem;
    }

    .port-table tbody tr td div p {
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1100px) and (min-height: 800px) and (max-height: 1000px) and (orientation: landscape) {
    .port-table tbody tr td h3 {
        display: none !important;
    }
}

/*landscape mode*/
@media only screen and (max-width: 1000px) and (max-height: 600px) and (orientation: landscape) {
    .port-table tbody tr td h3 {
        font-size: 0.75rem;
    }

    .port-table tbody tr td div p {
        font-size: 0.7rem;
    }

    .port-table tbody tr td h3 {
        display: none !important
    }

    table.port-table {
        width: 90%;
    }     
}

@media only screen and (max-width: 750px) and (max-height: 600px) and (orientation: landscape) {
    table.port-table {
        width: 100%;
    }   

    table.port-table tbody tr td {
        border: 0px solid white;
    }

    .port-table tbody tr td div p {
        font-size: 0.6rem;
        font-weight: bold;
    }
}

/*tab vertical mode*/
@media only screen and (min-width: 600px) and (min-height: 800px) {
    .port-table tbody tr td h3 {
        font-size: 1.75rem;
    }

    .port-table tbody tr td div p {
        font-size: 1.5rem;
    }
}