* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(25, 25, 25);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
  }

/*
Testing
*/