* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(25, 25, 25);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
  }

  #skill-img-one {
    background-image: url('./images/cSharp.png');
    background-size: 100% 175%;
  }

  #skill-img-two {
    background-image: url('./images/wpf.png');
  }

  #skill-img-three {
    background-image: url('./images/sqlServer.jpg');
  }

  #skill-img-four {
    background-image: url('./images/html.jpg');
  }

  #skill-img-five {
    background-image: url('./images/reactLogo.png');
  }

  #skill-img-six {
    background-image: url('./images/git.png');
  }