@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&display=swap');

.sideBarContainer {
  position: fixed;
  top: .5vh;
  height: 99vh;
  width: 8vw;
  left: 0;
  display: none;
  z-index: 15;
  font-family: 'Anek Devanagari', sans-serif;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 2px 2px 3px black;
  overflow: hidden;
}

.headerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
}

.headerContainer div {
  cursor: pointer;
  height: calc(100%/5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer div:hover {
  background: rgba(255, 255, 255, 0.15);
}

.headerContainer div h2 {
  cursor: pointer;
  font-size: 1rem;
  color: white;
  text-align: center;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
    cursor: pointer;
    min-height: 40px;
    max-height: 40px;
    max-width: 40px;
    min-width: 40px;
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);  
    transition: height 0.5s, width 0.5s;
    margin-left: 5px;
  }
