@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

.sideBarContainer {
  position: fixed;
  height: 100vh;
  width: 7vw;
  left: 0;
  display: none;
  z-index: 15;
}

.headerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
}

.headerContainer div {
  height: calc(100%/5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer div h2 {
  cursor: pointer;
  font-size: 1rem;
  color: white;
  font-family: 'Montserrat Alternates', cursive, sans-serif;
}

.headerContainer div h2 a {
  height: 100%; 
  width: 100%;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
    cursor: pointer;
    min-height: 40px;
    max-height: 40px;
    max-width: 40px;
    min-width: 40px;
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);  
    transition: height 0.5s, width 0.5s;
    margin-left: 5px;
  }
